*{
  font-family: arial, sans-serif;
  
}
body{
  margin-left: 1em;
}

 .headeRR{
  
  display: flex;
  justify-content: space-between;
  font-size: 20px;
 } 
 .headeRR li{
   list-style: none;
   display: inline-block;
 }
 #accomodation{
   color: rgb(104, 104, 235);
   font-weight: 100;
 }
 #activity{
   color: rgb(145, 131, 131);
   font-weight: 300;
 }
 #signup{
   color: rgb(45, 45, 231);
   font-weight: 500;
 }


header ul li{
  padding: 0.5em;
  margin: 0.5em;
}
header h1{
  font-family: arial;
  font-size: 35px;
  font-weight: 600;
  background: linear-gradient(to right, #8f8154, #e2bdbd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navbar{
  display: flex;
  gap: 0px;
  
  
}
#icon{
  background-color: rgb(215, 221, 216);
  font-size: 13px;
  padding: 8px;
  border-radius: 10px 0 0 10px;
}

#text{
  font-size: 20px;
  border-style: solid;
}
#button{
  background-color: rgb(59, 59, 247);
  display: grid;
  grid-template-columns: 60px;
  color: white;
  height: 28px;
  width:100%;
  font-size: 13px;
  padding: 5px;
  border-style: none;
  border-radius: 0 10px 10px 0;
}


a{
  text-decoration: none;
  
}

.nav2{
  display: inline-flex;
}
.nav2 p{
  font-weight: 600;
  margin-top: 30px;
}
.nav2 i{
  font-size: 1.2rem;
  color: rgb(63, 63, 238);
}


.nav2 div{
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: rgb(235, 240, 239);
  padding: 0;
  width: 175px;
  margin: 20px;
}

.nav2 .fas{

  background-color: rgb(223, 225, 235);
  border-radius: 15px;
  padding: 3px;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items:center;
  display: inline-flex;
  white-space: nowrap;
}





.fa-info{
  background-color: rgb(241, 236, 212);
  padding: 7px;
  border-radius: 20px; 
}
.info i{
  color: rgb(54, 54, 241);
}




/* boxes+images */



.boxes{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: inline-flex;
  
  
}

.box{
  background:rgb(253, 251, 251);
  text-align: left;
  padding: 1.5rem 2rem;
  height: 13rem;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 1px #796e6e;
  
}
.box p{
  margin-bottom: 0px;
}


  




.box img{
  height: 150px;
  width: 250px;
  margin: -15px;
  border-radius: 20px 20px 0 0;
  
}

.boxes2 img{
  height: 120px;
  width: 175px;
  margin: -15px;
}
.boxes2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  display: inline-block;
  box-sizing: content-box;
  width: 350px;
  
}

.box2{
  background: rgb(253, 251, 251); 
  text-align: center;
  
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
}
.fa-star {
  color: rgb(69, 69, 226);
}





  
.maincombination{
    
    background-color: rgb(235, 235, 235);
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    margin-right: 10rem;
}
.maincombination2{
    
    background-color: rgb(235, 235, 235);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
.mp{
  display: flex;
  justify-content: space-around;
}
.mp i{
  margin-top: 20px;
  font-size: 20px;
}

.maincontainer{
  display: flex;
  margin-left: -20px;
  padding: 10px;
  
  
}
