*{
  font-family: arial, sans-serif;
  
  
  
}





body{
 
  
  max-width: 2400px;
  
  margin-left: 1%;
  overflow-x: hidden;
  
 }
 

 
 




.mainthing{
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  font-size: 1.3rem;

  
  
  
  
  
}

 #accomodation{
   color: rgb(104, 104, 235);
   font-weight: bold;
 }
 #accomodation:hover{
  color:rgb(58, 109, 128);
  border-top: rgb(20, 73, 245) 4px solid;
 }
 #activity{
   color: rgb(201, 162, 162);
   font-size: 22px;
 }
 #activity:hover{
  color:lightblue;
  border-top: rgb(20, 73, 245) 4px solid;
  
 }
 #signup{
   color: rgb(45, 45, 231);
   font-weight: 500;
 }






.navbar{
  display: flex;
  gap: 0px;
  
  
}
#icon{
  background-color: rgb(215, 221, 216);
  font-size: 18px;
  padding: 8px;
  border-radius: 10px 0 0 10px;
}

#text{
  height: 100%;
  box-sizing: border-box;
  border-style: solid;
}
#button{
  background-color: rgb(59, 59, 247);
  display: grid;
  grid-template-columns: 60px;
  color: white;
  height: 33px;
  width: 100%;
  font-size: 13px;
  padding: 8px;
  border-style: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}


a{
  text-decoration: none;
  
}

.nav2{
  display: flex;
  max-width: 900px;
  gap: 2%;
  
  
  
  
  
  
}
.filterclass{

  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: 30px;
  cursor: pointer;
  
  
  
  
  
  
  
  
  
  
}
.nav2 p{
  font-weight: bold;
  
  margin: 10px;
  
  
  
  
  
  
  
  
}
.nav2 i{
  font-size: 25px;
  color: rgb(63, 63, 238);
  
}


.nav2 div{
  border: solid;
  height: 40px;
  border-width: 3px;
  border-radius: 30px;
  border-color: rgb(235, 240, 239);
  
  
  
  
}



.nav2 .fas{

  background-color: rgb(223, 225, 235);
  border-radius: 20px;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items:center;
  display: inline-flex;
  white-space: nowrap;
  box-sizing: border-box;
}

.info{
  display: flex;
}
.info p{
  margin: 10px;
}


.fa-info{
  background-color: white;
  padding: 8px;
  border: solid;
  border-color: rgb(235, 223, 223);
  border-width: 2px;
  border-radius: 20px; 
  width: 15px;
  
  
  
}
.info i{
  color: rgb(56, 56, 201);
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  
}





/* boxes+images */



#boxes{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns:  repeat( auto-fit,  minmax(370px, 1fr));
  
  
  
  
  
  
  
  
 
  
  
}

.box{
  background:rgb(253, 251, 251);
  text-align: left;
  padding: 5px;
  height: 18rem;
  width: 80%;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 1px 2px 1px #796e6e;
  cursor: pointer;
  
  
}
.box p{
  margin: 0px 0px 0px 10px;
  
}
.fa-star{
  margin-left: 10px;
}
.box h3{
  margin-left: 10px;
}



  




.box img{
  height: 65%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  align-self: flex-start;
  
}

.boxes2 img{
  
  width: 35%;
  border-radius: 30px 0 0 30px;
  margin: -10px;
  object-fit: cover;
  
  
}


.box2{
  background: rgb(253, 251, 251); 
  display: flex;
  padding: 15px;
  margin: 20px;
  border-radius: 35px;
  box-shadow: 1px 2px 1px #796e6e;
  cursor: pointer;
}

.description{
  text-align: center;
  margin: 20px 0 0 10px;
  
}
.description1{
  text-align: center;
  margin: 20px 0 0 30px
}
.description2{
  text-align: center;
  margin: 20px 0 0 30px

}

.fa-star {
  color: rgb(240, 221, 221);
  
}
.fa-star.checked {
  color: rgb(52, 52, 236);
  
}





  
.maincombination{
    
    background-color: rgb(235, 235, 235);
    margin: 10px;
    border-radius: 15px;
    margin-right: 5rem;
    display: grid;
    
    
    
}
.maincombination2{
    
    background-color: rgb(235, 235, 235);
    margin: 0.5%;
    width: 85%;
    padding: 10px;
    border-radius: 15px;
    display: grid;
    grid-template-rows:  repeat(auto-fit, minmax(50px 230px)) ;
    
    
    
    
    
}
.mp{
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 5%;
 }
 .mp h2{
   font-size: 35px;
 }
  
.mp i{
  margin-top: 25px;
  font-size: 40px;
}

.maincontainer{
  display: grid;
  grid-template-columns: 73% 30%;
}



.activities{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 300px)); 
  grid-gap: 2%;
  
  
  
  grid-template-areas: 
       "a b d e" 
       "a c d f";    
      
      
   
  
       
       
 
}
.activities div:nth-of-type(1){
  grid-area: a;
}      
.activities div:nth-of-type(2){
  grid-area: b;
  
}
.activities div:nth-of-type(3){
  grid-area: c;
  
  
  
}
.activities div:nth-of-type(4){
  grid-area: d;
  
}
.activities div:nth-of-type(5){
  grid-area: e;
  
  
}
.activities div:nth-of-type(6){
  grid-area: f;
  margin: 0;
  
  
}




.activities img{
  width: 100%;
  height: 80%;
  
  border-radius: 1em 1em 0 0;
  
  
}
 .boxes3{
  width: 80%;
  cursor: pointer;
  
  
  
}
.boxes4{
  width: 80%;
  cursor: pointer;
  
  
  
}
.boxes4 img{
  height: 92%;
  object-fit: cover;
  
  
  
}
.boxes3 img{
  object-fit: cover;
  
  
  
 
}

.boxes3{
  background: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

 
  
  
 }
  
.boxes4{
  background: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.boxes3 p{
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 15px;
}
.boxes4 p{
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 15px;

}


.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  
  
  
  
  
 
  
  
}

footer{
  background: rgb(242, 247, 238);
  padding: 0px;
  margin: 5% 0 0 0;
  
}
footer p{
  cursor: pointer;
}

  




/* Media Q */



@media screen and (max-width: 1248px){

  body{
    padding: 0;
    margin: 0;
  }

  .mainthing{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "signup"
    "accomodation activities";
  }

  .mainthing div:nth-last-of-type(1){
    grid-area: accomodation;
    margin: auto;
  }
  .mainthing div:nth-last-of-type(2){
    grid-area: activities;
    margin: auto;
    
  }
  .mainthing div:nth-last-of-type(3){
    grid-area: signup;
    margin: auto;
  }

   
    
   
  
  



  
  
  

 

  
  
  
  .activities {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
    grid-gap: 30px;
    
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";    
}







.maincontainer{
  display: flex;
  flex-direction: column;
  
}
.activities img{
  height: 80%;
}


.activities div:nth-of-type(1){
grid-area: a;
margin: auto;
}      
.activities div:nth-of-type(2){
grid-area: b;
margin: auto;
height: 55%;



}
.activities div:nth-of-type(3){
grid-area: c;
margin: auto;


}
.activities div:nth-of-type(4){
grid-area: d;
margin: auto;


}
.activities div:nth-of-type(5){
grid-area: e;
margin: auto;

}
.activities div:nth-of-type(6){
grid-area: f;
margin: auto;

}
.description{
  width: 90%; 
}




.nav2{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  font-size: 20px;
  width: 30%;
  margin-bottom: 5%;
  grid-template-areas: 
  "a c"
  "b"
  "d";
}
.nav2 div:nth-child(1){
  grid-area: a;
}
.nav2 div:nth-child(2){
  grid-area: b;
}
.nav2 div:nth-child(3){
  grid-area: c;
}
.nav2 div:nth-child(4){
  grid-area: d;
}

.maincombination{
  background-color: unset;
  width: 100%;
  margin: 0;
  
  
}
.maincombination2{
  width: 100%;
  margin: 0;
  padding: 0;
}

.boxes2{
  display: grid;
  grid-template-rows:  repeat(auto-fit, minmax(100px, 1fr));
  margin: 0px 0px 10px 0;
  grid-gap: 1%;
  
  
}
.box{
  margin: auto;
  
}

#boxes{
  display: grid;
  grid-template-rows:  repeat(6, minmax(100px, 1fr)) ;
  margin: 0;
  
  
  grid-template-areas: 
       "a"
       "b"
       "c"
       "d"
       "e"
       "f";
       
}
  #boxes div:nth-of-type(1){
  grid-area: a;
  
  }      
  #boxes div:nth-of-type(2){
  grid-area: b;
  margin-top: 0px;
  
  }
  #boxes div:nth-of-type(3){
  grid-area: c;
  margin-top: 10px;
  
  
  }
  #boxes div:nth-of-type(4){
  grid-area: d;
  
  
  }
  #boxes div:nth-of-type(5){
  grid-area: e;
  margin-top: 10px;
  
  }
  #boxes div:nth-of-type(6){
  grid-area: f;
 
  
  }




 
 
 

  

.footer{
  display: inline-block;
  
}

}
